<section id="findNearest">
    <div class="layout">
        <h2>Find Nearest <i class="fa-solid fa-map"></i></h2>
        <p>
            Use the Find Nearest page to easily explore hot spots in your vicinity. Whether you're on a sightseeing
            adventure or simply looking for a place to eat or relax, this page provides you with comprehensive
            information on restaurants, cafes, hotels, hospitals, and more, including User reviews, directions, and
            more, discover and enjoy great places in your surrounding area with the Find Nearest page.
        </p>
        <button class="btn-gold" routerLink="places">
            Try Now
        </button>
    </div>
</section>