<nav id="mainNav">
    <div class="brand">
        <h1>KEMET</h1>
    </div>

    <div class="links">
        <!-- <a routerLink="home" routerLinkActive="active">Home</a> -->
        <a *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active">{{link.label}}</a>

    </div>

    <div class="hidden lg:block ms-auto lg:ms-0">
        <button *ngIf="!this.userLogged" class="btn-outline-blue" routerLink="/auth/login">Login</button>

        <button *ngIf="this.userLogged" class="btn-outline-blue " routerLink="/" #tooltip="matTooltip"
            [matTooltip]="'user profile'" matTooltipPosition="below">
            <i class="fa-solid fa-user"></i>
        </button>
        <button *ngIf="this.userLogged" class="btn-outline-blue" #tooltip="matTooltip" [matTooltip]="'log out'"
            matTooltipPosition="below" (click)='userLogOut()'>
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
    </div>

    <button class="collapse-btn btn-blue" (click)="showNav = !showNav">
        <i class="fa-solid fa-bars" *ngIf="!showNav"></i>
        <i class="fa-solid fa-circle-xmark text-lg" *ngIf="showNav"></i>
    </button>

</nav>

<section id="sideNav" [class]="showNav ? 'show' : null">
    <h2 class="logo">KEMET</h2>

    <div class="links">
        <a *ngFor="let link of links" routerLinkActive="active" [routerLink]="link.path">
            <i [class]="'fa-solid ' + link.icon"></i>
            {{link.label}}
        </a>
    </div>

    <div class="flex justify-center items-center">

        <button *ngIf="!this.userLogged" class="btn-outline-blue" routerLink="/auth/login">Login</button>

        <button *ngIf="this.userLogged" class="btn-outline-blue" routerLink="/" #tooltip="matTooltip"
            [matTooltip]="'user profile'" matTooltipPosition="below" title="user profile">
            <i class="fa-solid fa-user"></i>
        </button>
        <button *ngIf="this.userLogged" class="btn-outline-blue" #tooltip="matTooltip" [matTooltip]="'log out'"
            matTooltipPosition="below" (click)='userLogOut()' title="logout">
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
    </div>

</section>