header {
  @apply bg-blue h-32 md:h-48 lg:h-60 bg-cover bg-center relative mb-8;

  background-image: url("../../../../../assets/images/events/evCover.webp");

  .layout {
    @apply absolute inset-0 bg-black bg-opacity-70 text-white flex justify-center items-center;

    h2 {
      @apply text-3xl md:text-4xl lg:text-5xl font-medium uppercase tracking-widest;
    }
  }
}

.events {
  @apply max-w-[1200px] px-2 lg:px-0 mx-auto flex justify-center items-start flex-wrap gap-x-10 gap-y-5 mb-8;

  .event {
    @apply w-full  md:w-[45%] lg:w-[30%] xl:w-[20%] gap-2 shadow rounded overflow-hidden transition-all hover:-translate-y-2;
    .cover {
      @apply w-full h-80 bg-cover bg-center overflow-hidden;

      img {
        @apply w-full h-full object-cover transition-all;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
    .info {
      @apply px-4 py-4 flex items-center;
      .date {
        @apply flex justify-center items-center flex-col me-4;

        span {
          &:first-of-type {
            @apply text-blue font-bold text-lg;
          }
          &:last-of-type {
            @apply text-sm uppercase font-semibold;
          }
        }
      }
      div:not(.date) {
        h2 {
          @apply font-bold;
        }
        p {
          @apply text-sm mb-0 text-gray-600;
        }
      }
    }
  }
}

.no-events {
  @apply md:text-3xl text-blue font-semibold capitalize text-center tracking-wider my-5;
}
