<section id="cover">
    <div class="layout"></div>
</section>

<section id="event-page">
    <header>
        <div class="left">
            <h2>{{eventData.event_name}}</h2>
            <div class="info">
                <span>
                    <i class="fa-solid fa-location-dot"></i>
                    {{eventData.location}}
                </span>
                <span>
                    <i class="fa-regular fa-calendar-days"></i>
                    {{eventData.event_datetime | date : 'medium'}}
                </span>
            </div>
        </div>
        <div class="right">
            <button class="btn-blue text-lg" #tooltip="matTooltip" [matTooltip]="copyMsg" matTooltipPosition="below"
                (click)="copyEventUrl()">
                <i class="fa-solid fa-link"></i>
            </button>
            <button class="btn-gold text-lg">
                <!-- <i class="fa-solid fa-plus"></i> -->
                <i class="fa-solid fa-ticket"></i>
                Get a ticket
            </button>
        </div>
    </header>

    <div class="content">
        <div class="left">
            <mat-tab-group>
                <mat-tab label="SUMMARY">
                    <div class="summary">
                        <h6>{{eventData.description}}</h6>

                        <p>
                            <span>event type</span>
                            <i class="fa-solid fa-arrow-right-long"></i>
                            {{eventData.event_type}}
                        </p>
                        <p>
                            <span>ticket price</span>
                            <i class="fa-solid fa-arrow-right-long"></i>
                            {{eventData.ticket_price}} $
                        </p>
                        <p>
                            <span>available tickets</span>
                            <i class="fa-solid fa-arrow-right-long"></i>
                            {{eventData.ticket_availability}}
                        </p>
                        <p>
                            <span>Accessibility</span>
                            <i class="fa-solid fa-arrow-right-long"></i>
                            {{eventData.accessibility_info}}
                        </p>
                        <p>
                            <span>event website</span>
                            <i class="fa-solid fa-arrow-right-long"></i>
                            <a [href]="eventData.website_url" target="_blank"> {{eventData.website_url}} </a>
                        </p>
                        <p>
                            <span>Recommended ages</span>
                            <i class="fa-solid fa-arrow-right-long"></i>
                            {{eventData.recommended_age_group}}
                        </p>
                        <p>
                            <span>transportation options</span>
                            <i class="fa-solid fa-arrow-right-long"></i>
                            {{eventData.transportation_options}}
                        </p>
                        <p>
                            <span>special requirements</span>
                            <i class="fa-solid fa-arrow-right-long"></i>
                            {{eventData.special_requirements}}
                        </p>
                        <p>
                            <span>weather considerations</span>
                            <i class="fa-solid fa-arrow-right-long"></i>
                            {{eventData.weather_considerations}}
                        </p>

                    </div>
                </mat-tab>

                <mat-tab label="DATE AND TIME">
                    <div class="date-and-time font-bold tracking-wider text-lg my-3">
                        {{eventData.event_datetime | date : 'long'}}
                    </div>
                </mat-tab>

                <mat-tab label="INFORMATION">
                    <div class="summary info">

                        <h6> here you can find all contact details with event planner</h6>
                        <p>
                            <span>planner</span>
                            <i class="fa-solid fa-arrow-right-long"></i>
                            {{eventData.contact_person}}
                        </p>
                        <p>
                            <span>email</span>
                            <i class="fa-solid fa-arrow-right-long"></i>
                            <a [href]="'mailto:'+eventData.contact_email">{{eventData.contact_email}}</a>
                        </p>
                        <p>
                            <span>phone</span>
                            <i class="fa-solid fa-arrow-right-long"></i>
                            <a [href]="'tel:'+eventData.contact_phone">{{eventData.contact_phone}}</a>
                        </p>
                    </div>
                </mat-tab>

                <mat-tab label="MAP">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.806730029193!2d31.613340475016052!3d30.18551441187399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145802b2150225c5%3A0xe432633adc3d0d12!2sAl-Safwa%20Higher%20Institute%20for%20Engineering!5e0!3m2!1sen!2seg!4v1713814856137!5m2!1sen!2seg"
                        width="100%" height="375" style="border:0;" allowfullscreen=""
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </mat-tab>

                <mat-tab label="FAQ">
                    <div class="faq">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span class="question">
                                            How To Book a ticket ?
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, perspiciatis!</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span class="question">
                                            why book with kemet ?
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero maiores,
                                    exercitationem earum enim eaque iusto aliquid et atque fugit cupiditate.</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span class="question">
                                            how kemet save your rights ?
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero maiores,
                                    exercitationem earum enim eaque iusto aliquid et atque fugit cupiditate Lorem ipsum,
                                    dolor sit amet consectetur adipisicing elit. Iure, quis.
                                </p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </mat-tab>


            </mat-tab-group>
        </div>

        <div class="right">

            <img src="../../../../../assets/images/events/evDetails.svg" alt="">
        </div>

    </div>
</section>