<section id="searchQueries">
    <!-- city -->
    <div class="box green">
        <p>City</p>
        <h3>Alexandria</h3>

        <i class="fa-solid fa-location-dot"></i>
    </div>
    <!-- arrive date -->
    <div class="box blue">
        <p>Arrive Date</p>
        <h3>5/15/2022</h3>

        <i class="fa-solid fa-plane-arrival"></i>
    </div>
    <!-- leave date -->
    <div class="box yellow">
        <p>Leave Date</p>
        <h3>5/23/2022</h3>

        <i class="fa-solid fa-plane-departure"></i>
    </div>
    <!-- numbers of guests -->
    <div class="box red">
        <p>numbers of guests</p>
        <h3>5</h3>

        <i class="fa-solid fa-users"></i>
    </div>
</section>


<div id="hotels">
    <div class="container">
        <!-- <h2>Best Hotels </h2> -->
        <div class="hotels-container">
            <a [routerLink]="'/hotels/details/60d5ec3bcf3de4f5a68f070b'" target="_blank" class="hotel-card" *ngFor="let _ of [].constructor(
                10
             ) ">
                <div class="image">
                    <img [src]="egyptianHotelImages[getRandomNum(egyptianHotelImages.length-1,0)]" alt="hotel">
                </div>

                <div class="content">
                    <div class="title">
                        <h2>
                            {{famousHotelsInEgypt[getRandomNum(famousHotelsInEgypt.length-1,0)]}}
                        </h2>
                        <p>
                            <i class="fa-solid fa-location-dot"></i>
                            {{citiesArr[getRandomNum(citiesArr.length,0)]}}
                        </p>
                    </div>
                    <div class="info">
                        <p>
                            <span>Start From</span>
                            <span>{{getRandomNum(1000,10000)}} EGP</span>
                        </p>
                        <p>
                            <span>{{hotelReview[getRandomNum(0,6)]}}</span>
                            <span>
                                <i class="fa-solid fa-star text-gold" *ngFor="let _ of [].constructor(
                                    getRandomNum(5,1)
                                )"></i>
                            </span>
                        </p>
                    </div>
                    <p class="description">
                        {{descriptionSlicer(descDemo)}} ....
                    </p>

                    <div class="btns">
                        <button class="btn-gold w-[200px] uppercase text-lg">Details <i
                                class="fa-solid fa-circle-info"></i></button>
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>