<section>
    <div class="container">
        <div class="content">
            <div class="img">
                <img src="https://www.ansonika.com/paradise/img/local_amenities_1.jpg" alt="restaurant image">
            </div>

            <div class="desc">
                <h4 class="sub-title">LOCAL AMENITIES</h4>
                <h2 class="title">Restaurants</h2>
                <p>{{description}}</p>

                <a class="btn-outline-blue" href="#" target="_blank">Read More</a>

            </div>
        </div>


        <div class="content right">

            <div class="desc">
                <h4 class="sub-title">LOCAL AMENITIES</h4>
                <h2 class="title">Art & Culture</h2>
                <p class="right">{{description}}</p>

                <a class="btn-outline-blue" href="#" target="_blank">Read More</a>

            </div>

            <div class="img">
                <img src="https://www.ansonika.com/paradise/img/local_amenities_3.jpg" alt="restaurant image">
            </div>
        </div>
    </div>
</section>