<section>
    <div class="container">
        <div class="content">
            <div class="img">
                <img src="https://www.ansonika.com/paradise/img/local_amenities_1.jpg" alt="restaurant image">
            </div>

            <div class="desc">
                <h4 class="sub-title">LOCAL AMENITIES</h4>
                <h2 class="title">Restaurants</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo.</p>

                <a class="btn-outline-blue" href="#" target="_blank">Read More</a>

            </div>
        </div>


        <div class="content right">

            <div class="desc">
                <h4 class="sub-title">LOCAL AMENITIES</h4>
                <h2 class="title">Art & Culture</h2>
                <p class="right">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo.</p>

                <a class="btn-outline-blue" href="#" target="_blank">Read More</a>

            </div>

            <div class="img">
                <img src="https://www.ansonika.com/paradise/img/local_amenities_3.jpg" alt="restaurant image">
            </div>
        </div>
    </div>
</section>