<header id="homePage">
    <div class="overlay">
        <p class="sub-title">Beauty & Discovery</p>
        <h1 class="title">Explore EGYPT with <span>KEMET</span> </h1>
        <div class="btns">
            <button class="btn-gold" routerLink="/hotels">our hotels</button>
            <button class="btn-blue" routerLink="/events">Discover our events</button>
        </div>
    </div>
</header>


<section id="about">
    <div class="layout ">
        <div class="left">
            <h5>GET TO KNOW US</h5>
            <h2>Experience the World with KEMET Company</h2>
            <p>
                There are many variations of passages of Lorem Ipsum avagtilable, but the majority have passages of
                Lorem Ipsum
                suffered alteration in some There are many variations of passages of Lorem Ipsum
            </p>


            <p class="feature">
                <i class="fas fa-check"></i>
                30.6k Happy Traveler
            </p>
            <p class="feature">
                <i class="fas fa-check"></i>
                40.5k Tent Sites
            </p>
            <p class="feature">
                <i class="fas fa-check"></i>
                88.9% Satisfaction Rate
            </p>
            <p class="feature">
                <i class="fas fa-check"></i>
                6.3+ Year Of Service
            </p>

            <button class="btn-outline-gold">
                <i class="fab fa-servicestack"></i>
                Discover our service
                <i class="fab fa-servicestack"></i>
            </button>
        </div>
        <div class="right">
            <img src="../../../assets/images/home/about.jpg" alt="about section photo">
        </div>
    </div>


</section>