<section id="topbar">
    <div class="content">
        <div class="left">
            <p>
                <i class="fa-solid fa-location-dot"></i>
                30 Commercial Road Fratton, Australia
            </p>
            <p>
                <i class="fa-solid fa-envelope"></i>
                needhelp@company.com
            </p>
        </div>
        <div class="right">
            <p>
                <i class="fa-solid fa-clock"></i>
                Mon to Sat: 8.00 am - 7.00 pm
            </p>
        </div>
    </div>
</section>